/* ----- Variables ----- */
/* ----- Product Section ----- */

/* ----- Photo Section ----- */
.product__photo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-items: center;
  align-items: center;

}

.photo-container {
  width: 80%;
  height: 100%;
  border-radius: 6px;
  margin-top: 3rem;
  

}

.photo-main {
  border-radius: 6px 6px 0 0;

}
.photo-main .controls {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  color: #fff;
}
.photo-main .controls i {
  cursor: pointer;
}
.photo-main img {
  /* position: absolute; */

  top: 2em;

  height: 100%;
  width: 90%;
  filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(132, 37, 141, 0.3));
}

.photo-album {
  padding: 0.7em 1em;
  border-radius: 0 0 6px 6px;
  background-color: #fff;
}
.photo-album ul {
  display: flex;
  justify-content: space-around;
}
.photo-album li {
  float: left;
  width: 55px;
  height: 55px;
  padding: 7px;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
}

/* ----- Informations Section ----- */
.product__info {
  padding: 0.8em 0;
  width: 80%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-items: center;
  align-items: center;
}

.title h1 {
  margin-bottom: 0.1em;
  color: #4c4c4c;
  font-size: 1.5em;
  font-weight: 900;
}
.title span {
  font-size: 0.7em;
  color: #a6a6a6;
}

.price {
  margin: 1.5em 0;
  color: #ff3f40;
  font-size: 1.2em;
}
.price span {
  padding-left: 0.15em;
  font-size: 2.9em;
}

.variant {
  overflow: auto;
}
.variant h3 {
  margin-bottom: 1.1em;
}
.variant li {
  float: left;
  width: 35px;
  height: 35px;
  padding: 3px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}
.variant li:first-child, .variant li:hover {
  border: 1px solid #a6a6a6;
}
.variant li:not(:first-child) {
  margin-left: 0.1em;
}

.description {
  clear: left;
  margin: 2em 0;
}
.description h3 {
  margin-bottom: 1em;
}
.description ul {
  font-size: 0.8em;
  list-style: disc;
  margin-left: 0em;
  padding: 0em;
}
.description li {
  text-indent: -0.6em;
  margin-bottom: 0.5em;
}

.buy--btn {
  padding: 1.5em 3.1em;
  border: none;
  border-radius: 7px;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: #fff;
  background-color: #ff3f40;
  box-shadow: 2px 2px 25px -7px #4c4c4c;
  cursor: pointer;
}
.buy--btn:active {
  transform: scale(0.97);
}

.TitleCantidad{

  color: #000000;
  border-radius: 25;
  font-size: larger;
}
.StyleButton {
  text-decoration: none;
  margin: 0 30px;
  width: auto;
  padding: 12px;
  font-size: 8px;
  background: #f53030;
  border-radius: 8px;
  display: flex;
  align-self: center;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border: none;
  border-style: none;
  cursor: pointer;
  outline: inherit;
  font-size: larger;
}
@media (min-width: 768px) {
  .product {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    margin-left: 1em;
    min-width: 800px;
    padding: 2.5em 0;
    border-radius: 5px;
    justify-content: center;
    box-shadow: 4px 4px 25px -2px rgba(209, 49, 209, 0.5);
  }
  
}

@media (max-width: 768px) {

  .productVista{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2.5em 0;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 25px -2px rgba(209, 49, 209, 0.5);
  }
}
/* ----- Footer Section ----- */
footer {
  padding: 1em;
  text-align: center;
  color: #fff;
}
footer a {
  color: #4c4c4c;
}
footer a:hover {
  color: #ff3f40;
}/*# sourceMappingURL=ItemDetail2.css.map */