.filterMenu{
  border-radius: 4px;
  background: #e0dedb;
  height: 50em;
  width: 200px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 1em;
  
}
.filter_logo{

  font-weight: bold;
  font-size: 20px;
  margin: 15px;
  color: white
}
.filter_items{
  margin:15px;
  color:white;
  position:relative;
  display: block;
  text-decoration: none;
}

.filter_toggle{
  display: none;
}

.ActiveOption{
  margin:15px;
  background-color: #555555;
  color: white;
  position:relative;
  display: block;
  text-decoration: none;
}

.Option{
  margin:15px;
  color:white;
  position:relative;
  display: block;
  text-decoration: none;
  background-color: #e0dedb;
  color: black;
  border: 0px solid #555555;
  height: auto;
  width: 200px;
}

.Option:hover {
  background-color: #555555;
  color: white;
}
.navDrop{

  color: black;
}

.bg-conteinerCard{
  color:#fff;
  font-family: 'Allerta Stencil', sans-serif;
  margin-bottom: 4px;
  font-size: 22px;
  border: 0.3rem solid rgba(206, 50, 220, 0.6);
  border-radius: 1rem;
}
.textDrop{

  color: black;
  font-size: 20px;
  margin-left: 2rem ;
}

.conteinerTitule{

  color: black;
  text-decoration: none;
}


@media (max-width: 595px){
  .bg-conteinerCard{
      margin: 0 0em 0 0em;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
  }
}