.container {
    max-width: 960px;
  }
  
  
  .site-header {
    background-color: rgb(223, 41, 240);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }


  .fondo{
    background-image: url("/public/asset/images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    flex: 1;
  }
  @media (min-width: 810px) {
    .vista{
      flex-direction: row !important;
      display: flex !important;
      justify-content: center !important;
    }
    .vistaItem2{
      margin-top: 3em !important;
      margin-left: 3em;
      width: 24% !important;
    }
  }

  @media (max-width: 810px) {
    .flex-md-equal > * {
      flex: 1;
    }
    .vistaCel{
      display: flex;
      flex-direction: column !important;
      flex-wrap: nowrap;
      align-items: center;
    }
    .vistaItem{
      width: 75%;
      margin-top: 3em;

    }
  }
  